<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    
    <title>Painel Administrativo</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
   <a class="navbar-brand" href="#">Painel Administrativo PINCRED </a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
     </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to 'Home', users_office_welcome_index_path, class: 'nav-link'%>
      </li>
      <li class="nav-item">
        <%= link_to 'Imagens', users_office_images_path , class: 'nav-link'%>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Informações</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item disabled" href="#">Acesso as Informações das Páginas</a>
          <div class="dropdown-divider"></div>
          <%= link_to 'Correspondentes', users_office_correspondets_path, class: 'dropdown-item'%>
          <%= link_to 'Demonstrações Financeiras', users_office_demos_path, class: 'dropdown-item'%>
          <%= link_to 'Educação Financeira', users_office_educations_path, class: 'dropdown-item'%>
          <%= link_to 'Politica Responsabilidade Socioambiental - PRS ', users_office_repossibilities_path, class: 'dropdown-item'%>
          <%= link_to 'Tabelas de Riscos', users_office_risks_path, class: 'dropdown-item'%>
          <%= link_to 'Sistema de Informações de Crédito - SCR ', users_office_credits_path, class: 'dropdown-item'%>
          <%= link_to 'Tabelas de Tarifas', users_office_tariffs_path, class: 'dropdown-item'%>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item disabled" href="#">Acesso as informaçoes dos Canais</a>
          <div class="dropdown-divider"></div>
           <%= link_to 'Contatos', users_office_contacts_path, class: 'dropdown-item'%>
            <%= link_to 'Denuncias', users_office_complaints_path, class: 'dropdown-item'%>
        </div>
       <li class="nav-item">
        <%= link_to 'Produtos', users_office_products_path , class: 'nav-link'%>
      </li>
        <li class="nav-item">
        <%= link_to 'Quem Somos', users_office_whos_path , class: 'nav-link'%>
      </li>
       </li>
        <li class="nav-item">
        <%= link_to 'Rodapé', users_office_footers_path , class: 'nav-link'%>
      </li>
      </li>
        <li class="nav-item">
        <%= link_to 'Usuários', users_office_users_index_path , class: 'nav-link'%>
      </li>
    </ul>
   
    <form class="form-inline my-2 my-lg-0">
      
      <%= link_to 'Sair', destroy_user_session_path,method: :delete ,class: 'btn btn-outline-danger my-2 my-sm-0'%>
      
    </form>
  </div>
</nav>

</body>
</html>