<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    
    <title>Painel Administrativo</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
   <a class="navbar-brand" href="/admin/home">Painel Administrativo PINCRED </a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
     </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to 'Home', "/admin/home", class: 'nav-link'%>
      </li>
      <li class="nav-item">
        <%= link_to 'Imagens', '/admin/imagens', class: 'nav-link'%>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Informações</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item disabled" href="#">Acesso as Informações das Páginas</a>
          <div class="dropdown-divider"></div>
          <%= link_to 'Correspondentes', "/admin/correspodentes", class: 'dropdown-item'%>
          <%= link_to 'Demonstrações Financeiras', "/admin/demonstracao-financeira", class: 'dropdown-item'%>
          <%= link_to 'Educação Financeira', "/admin/educacao-financeira", class: 'dropdown-item'%>
          <%= link_to 'Politica de Privacidade', "/admin/politica-de-privacidade", class: 'dropdown-item'%>
          <%= link_to 'Politica Responsabilidade Socioambiental - PRS ', "/admin/politica-responsabilidade-socioambiental", class: 'dropdown-item'%>
          <%= link_to 'Tabelas de Riscos', "/admin/tabela-de-risco", class: 'dropdown-item'%>
          <%= link_to 'Segurança', '/admin/seguranca', class: 'dropdown-item'%>
          <%= link_to 'Sistema de Informações de Crédito - SCR ', '/admin/sistema-de-informacoes-de-credito', class: 'dropdown-item'%>
          <%= link_to 'Tabelas de Tarifas', '/admin/tabela-de-tarifas', class: 'dropdown-item'%>
          <%= link_to 'Termos de Uso', '/admin/termos-de-uso', class: 'dropdown-item'%>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item disabled" href="#">Acesso as informaçoes dos Canais</a>
          <div class="dropdown-divider"></div>
           <%= link_to 'Contatos', '/admin/contatos', class: 'dropdown-item'%>
            <%= link_to 'Denuncias', '/admin/denuncias', class: 'dropdown-item'%>
        </div>
       <li class="nav-item">
        <%= link_to 'Produtos', '/admin/produtos' , class: 'nav-link'%>
      </li>
        <li class="nav-item">
        <%= link_to 'Quem Somos', '/admin/quem-somos' , class: 'nav-link'%>
      </li>
       </li>
        <li class="nav-item">
        <%= link_to 'Rodapé', '/admin/rodape', class: 'nav-link'%>
      </li>
      </li>
        <li class="nav-item">
        <%= link_to 'Usuários', '/admin/usuarios', class: 'nav-link'%>
      </li>
    </ul>
   
    <form class="form-inline my-2 my-lg-0">
      
      <%= link_to 'Sair', destroy_user_session_path,method: :delete ,class: 'btn btn-outline-danger my-2 my-sm-0'%>
      
    </form>
  </div>
</nav>

</body>
</html>




