<div> 
   Chamado Denúncia
   <ul>
    <li> Nome: <%= @users_office_complaint.description %> </li>
    <li> Email: <%= @users_office_complaint.email %> </li>
    <li> CPF: <%= @users_office_complaint.cpf %> </li>
    <li> Telefone: <%= @users_office_complaint.phone %> </li>
    <li> Tipo Contato: <%= @users_office_complaint.typecontact %> </li>
    <li> Conteúdo: <%= @users_office_complaint.content %> </li>
   </ul>

</div>

