<div> 
   Novo chamado Ouvidoria
   <ul>
    <li> Nome: <%= @users_office_contact.description %> </li>
    <li> Email: <%= @users_office_contact.email %> </li>
    <li> CPF: <%= @users_office_contact.cpf %> </li>
    <li> Telefone: <%= @users_office_contact.phone %> </li>
    <li> Tipo Contato: <%= @users_office_contact.typecontact %> </li>
    <li> Conteúdo: <%= @users_office_contact.content %> </li>
   </ul>

</div>

