<div class="container-fluid">
        <div class="line"></div>
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                      <% @users_office_footers.each do |users_office_footer| %>
                        <p><%= users_office_footer.title %></p>
                        <p><%= users_office_footer.subtitle %></p>
                        <p><%= users_office_footer.phone_one%></p>
                        <p><%= users_office_footer.phone_two%></p>
                        <p><%= users_office_footer.email%></p>
                      <% end %>  
                    </div>

                    <div class="col-md-3">
                        <%= image_tag('logo_pincred_white.png',class: 'img-fluid', alt: 'Logo')%>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">

                       <ul>
                            <li><%= link_to 'Termo de Uso', "/termos-de-uso" %></li>
                            <li><%= link_to 'Política de Privacidade', "/politica-de-privacidade" %></li>
                            <li><%= link_to 'Ouvidoria', "/contato" %></li>
                            <li><%= link_to 'Segurança', "/seguranca" %></li>
                            <li><%= link_to 'Canal de Denúncia', "/denuncia" %></li>
                            <li><%= link_to 'Atendimento', "/contato" %></li>
                            <li>
                            <%= link_to 'painel-administrativo/sign-in' do %>
                              <i class="fa fa-cog fa-spin fa-1x fa-fw"></i>
                            <% end %>  
                            </li>
                        </ul>

                    </div>
                </div>
            </div>

        </div>
    </div>