<br/>
<br/>
<br/>
<br/>
<br/>

<!doctype html> 
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> Simulação de CDC - PINCRED </title>

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 1080px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style> 
    
  </head> 

  <body class="bg-light"> 
  
    <div class="container">
   <div class="py-5 text-center">
    <%#= image_tag("logo_pincred.png", size: "300x200", class: "d-block mx-auto mb-4")%>
    <h2> Simule seu CDC - Móveis e Eletros </h2>
  </div>
  <% if flash[:notice].present? %>
     <div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong><%= flash[:notice] %>  </strong> 
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% end %> 
  <div class="row">

    <div class="col-md-12 order-md-1">
      <h4 class="mb-3"> Dados da Simulação </h4>
      <form class="needs-validation" novalidate>
        <%= form_tag page_calc_two_index_path do %>
       
        <div class="row">
          <div class="col-md-3 mb-2">
         <div class="mb-3">
          <label for="valor"> Valor <span class="text-muted">* </span></label> 
          <%= text_field_tag :valor , '', class: 'form-control', placeholder: 'Apenas Numeros',id:'money',required: true  %>
        </div>

          </div>

          <div class="form-group col-md-2">
           <label for="address2"> Meses <span class="text-muted"></span></label>
           <%= select_tag :meses, options_for_select([
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8",
                "9",
                "10",
                "11",
                "12",
                "13",
                "14",
                "15",
                "16",
                "17",
                "18",
                "19",
                "20",
                "21",
                "22",
                "23",
                ["24",:selected => "24"]], :meses.try(:meses).try(:content)), class: 'form-control'%>
           
          </div>
        </div>
        
        <hr class="mb-2">
        <%= submit_tag "Calcular" , class: 'btn btn-primary btn-lg ' , data: { disable_with: ' Aguarde..., fazendo os calculos do seu CDC.! ' }%>
        <hr class="mb-2">
      </form>
    </div>
  </div>
</div>

<% end %> 

<br/>
<br/>
<br/>
<br/>



 <div class="container">

 <h4 class="d-flex justify-content-between align-items-center mb-3">
        <h4 class="mb-3"> Resultado da Simulação </h4>
      
 </h4>
 <% if flash_message == nil %>
 <div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>
   <p> Informativo: <%= flash_message %> </p> 

  </strong> 
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% end %>
<form>
  <div class="form-row-2">
    <div class="col">
     <label for="address">Valor Solicitado no CDC  </label>
      <input type="text" placeholder=" R$ <%= 
                 if  @result_segundo_ponto_liquido.present?
                    @result_segundo_ponto_liquido.real 
                 end
                        
                  %>" class="form-control" readonly> </>
    </div>
    <div class="col">
     <label for="address">Valor da Prestação </label>
      <input type="text"  class="form-control" placeholder="R$ <%= 
                 if  @result_segundo_ponto_presta.present? 
                    @result_segundo_ponto_presta.real 
                    end
                     
                  %>" readonly>
    </div>
    <div class="col">
     <label for="address">Quantidade de Meses </label>
      <input type="text"  class="form-control" placeholder="<%= @month %> " readonly>
    </div>
     <div class="col">
      <label for="address">Valor Contratado</label>
      <input type="text"  class="form-control" placeholder=" R$ <%= 
            
                if  @result_segundo_ponto_contra.present?
                  @result_segundo_ponto_contra.real 
                
                 end
                     
                  %>" readonly>
    </div>
  </div>
</form>

 
 <br/>
 <br/>
 
       <div class="row">
          <div class="col-md-6 mb-3">
         <div class="mb-3">
           <label for="address">Valor do IOF </label>
          <input type="text" class="form-control" placeholder=" R$ <%= 
                    if  @result_segundo_ponto_iof.present? 
                    @result_segundo_ponto_iof.real
                    end %> " readonly>
        </div>

          </div>
          <div class="col-md-6 mb-3">
            <label for="address2">Valor TAC </label>
          <input type="text" class="form-control" placeholder=" R$ <%= 
                 if  @result_segundo_ponto_tac.present? 
                    @result_segundo_ponto_tac.real
                    end
                     
                  %>" readonly>
          </div>
        </div>


       <div class="row">
          <div class="col-md-6 mb-3">
         <div class="mb-3">
           <label for="address"> Taxa Mensal </label>
          <input type="text" class="form-control" placeholder=" <%= 
                 if  @result_segundo_ponto_txam.present? 
                    @result_segundo_ponto_txam 
                    end
                     
                  %>% " readonly>
        </div>

          </div>
          <div class="col-md-6 mb-3">
            <label for="address2">Taxa Anual </label>
          <input type="text" class="form-control" placeholder=" <%= 
                    if  @result_segundo_ponto_txaa.present? 
                    @result_segundo_ponto_txaa
                    end %>% " readonly>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-3">
         <div class="mb-3">
           <label for="address"> Taxa CET Mensal </label>
          <input type="text" class="form-control" placeholder=" <%= 
                 if  @result_segundo_ponto_txcetam.present? 
                    @result_segundo_ponto_txcetam
                    end
                     
                  %> % " readonly>
        </div>

          </div>
          <div class="col-md-6 mb-3">
            <label for="address2">Taxa CET Anual </label>
          <input type="text" class="form-control" placeholder=" <%= 
                 if  @result_segundo_ponto_txcetam.present? 
                    @result_segundo_ponto_txcetam
                    end
                     
                  %> %" readonly>
          </div>
        </div>

   <%= form_tag page_calc_two_up_clear_path do %>
   <hr class="mb-2">
  <div class="form-row">
         
           <%= submit_tag "Nova Simulação" , class: 'btn btn-success ', data: { confirm: " Limpando Simulação ... "  } , redirect_to: '/simulador-de-cdc' %>
      
  </div>
  <hr class="mb-2">
  <% end %> 
</div>


  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2019 PINCRED - SOLUÇÕES FINANCEIRAS - BY CI PINTOS </p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="http://www.pincred.com.br">Acessar so Site</a></li>
      <li class="list-inline-item"><a href="#">Suporte </a></li>
    </ul>
  </footer>
  
</div>

</html>

