<br/>
<br/>
<br/>


<div class="container img_nossos_produtos" id="informacoes">
        <div class="row">
            <div class="col-md-12">
                <div class="nossos_produtos">
                 <h2>Informações</h2>
           <div class="container">
              <div class="row">
                <div class="col-sm">
                  <div class="card bg-light mb-3" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">Correspodentes</h5>
                    <p class="card-text">
                      
                    </p>
                    <%= link_to '+Saiba Mais', page_correspodent_index_path, class: 'btn btn-primary'%>
                  </div>
                </div>
                </div>
                <div class="col-sm">
                  <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">Demonstraçoes </h5>
                    <p class="card-text">
                     
                    </p>
                     <%= link_to '+Saiba Mais', page_demo_index_path, class: 'btn btn-primary'%>
                  </div>
                </div>
                </div>
                <div class="col-sm">
                  <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">Educação Financeira </h5>
                    <p class="card-text">
                    
                    </p>
                    <%= link_to '+Saiba Mais', page_education_index_path, class: 'btn btn-primary'%>
                  </div>
                </div>
                </div>
              </div>
            </div>
              
              <br/>
              <br/>
            
            <div class="container">
              <div class="row">
                <div class="col-sm">
                  <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">Politica - PRS</h5>
                    <p class="card-text">
                    
                    </p>
                    <%= link_to '+Saiba Mais', page_socio_index_path, class: 'btn btn-primary'%>
                  </div>
                </div>
                </div>
                <div class="col-sm">
                  <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">Tabela de Riscos</h5>
                    <p class="card-text">
                    
                    </p>
                   <%= link_to '+Saiba Mais', page_risk_index_path, class: 'btn btn-primary'%>
                  </div>
                </div>
                </div>
                <div class="col-sm">
                  <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">Tabela de Tarifas</h5>
                    <p class="card-text">
                    
                    </p>
                    <%= link_to '+Saiba Mais', page_tariff_index_path, class: 'btn btn-primary'%>
                  </div>
                </div>
                </div>
              </div>
            </div>

          <br/>
              <br/>
            
            <div class="container">
              <div class="row">
                <div class="col-sm">
                  <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">Sistema - SCR</h5>
                    <p class="card-text">
                    
                    </p>
                   <%= link_to '+Saiba Mais', page_credit_index_path, class: 'btn btn-primary'%>
                  </div>
                </div>
                </div>
                <div class="col-sm">
                  <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">Canal de Contato </h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn btn-primary">+Saiba Mais</a>
                  </div>
                </div>
                </div>
                <div class="col-sm">
                  <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">Canal de Denuncias</h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn btn-primary">+Saiba Mais</a>
                  </div>
                </div>
                </div>
              </div>
            </div>  

                </div>
            </div>
        </div>
    </div>

