<br/>
<br/>
<br/>

<div class="container img_nossos_produtos" id="informacoes">
        <div class="row">
            <div class="col-md-12">
                <div class="nossos_produtos">
                 <h2>Informações</h2>
           <div class="container">
              <div class="row">
                <div class="col-sm">
                  <div class="card bg-light mb-3" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title text-center">Correspondentes</h5>
                    <p class="card-text text-center">
                      <i class="fa fa-university fa-5x" aria-hidden="true" style="color:#004668 !important;"> </i>
                      
                    </p>
                    <p class="card-text text-center">
                    <%= link_to '+Saiba Mais', "/correspodentes", class: 'btn btn-light'%>
                    </p>
                  </div>
                </div>
                </div>
                <div class="col-sm">
                  <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title text-center">Demonstrações </h5>
                    <p class="card-text text-center">
                     <i class="fa fa-tasks fa-5x" aria-hidden="true" style="color:#004668 !important;"> </i>
                    </p>
                       <p class="card-text text-center">
                     <%= link_to '+Saiba Mais', "/demonstracoes-financeiras", class: 'btn btn-light'%>
                     </p>
                  </div>
                </div>
                </div>
                <div class="col-sm">
                  <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title text-center">Educação Financeira </h5>
                    <p class="card-text text-center">
                     <i class="fa fa-file-pdf fa-5x" aria-hidden="true" style="color:#004668 !important;"> </i>
                    </p>
                       <p class="card-text text-center">
                    <%= link_to '+Saiba Mais', "/educacao-financeira", class: 'btn btn-light'%>
                    </p>
                  </div>
                </div>
                </div>
              </div>
            </div>
              
              <br/>
              <br/>
            
            <div class="container">
              <div class="row">
                <div class="col-sm">
                  <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title text-center">Política - PRS</h5>
                    <p class="card-text text-center">
                      <i class="fa fa-file fa-5x" aria-hidden="true" style="color:#004668 !important;"> </i>
                    </p>
                       <p class="card-text text-center">
                    <%= link_to '+Saiba Mais', '/politica-responsabilidade-socio-ambiental-prs', class: 'btn btn-light'%>
                    </p>
                  </div>
                </div>
                </div>
                <div class="col-sm">
                  <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title text-center">Tabela de Riscos</h5>
                    <p class="card-text text-center">
                       <i class="fa fa-file-pdf fa-5x" aria-hidden="true" style="color:#004668 !important;"> </i>
                    </p>
                  <p class="card-text text-center">
                   <%= link_to '+Saiba Mais', '/tabela-de-risco' , class: 'btn btn-light'%>
                  </p> 
                  </div>
                </div>
                </div>
                <div class="col-sm">
                  <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title text-center">Tabela de Tarifas</h5>
                    <p class="card-text text-center">
                         <i class="fa fa-file fa-5x" aria-hidden="true" style="color:#004668 !important;"> </i>
                    </p>
                    <p class="card-text text-center"> 
                    <%= link_to '+Saiba Mais', '/tabela-de-tarifas', class: 'btn btn-light'%>
                    </p>
                  </div>
                </div>
                </div>
              </div>
            </div>

          <br/>
              <br/>
            
            <div class="container">
              <div class="row">
                <div class="col-sm">
                  <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title text-center">Sistema - SCR</h5>
                    <p class="card-text text-center">
                     <i class="fa fa-file-pdf fa-5x" aria-hidden="true" style="color:#004668 !important;"> </i>
                    </p>
                    <p class="card-text text-center"> 
                   <%= link_to '+Saiba Mais', '/sistema-de-informacao-de-credito-scr' , class: 'btn btn-light'%>
                    </p>
                  </div>
                </div>
                </div>
                <div class="col-sm">
                  <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title text-center">Canal de Contato </h5>
                    <p class="card-text text-center">
                    <i class="fa fa-user fa-5x" aria-hidden="true" style="color:#004668 !important;" > </i>
                    </p>
                     <p class="card-text text-center">  
                    <%= link_to '+Saiba Mais', "/contato", class: 'btn btn-light'%>
                    </p>
                  </div>
                </div>
                </div>
                <div class="col-sm">
                  <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title text-center">Canal de Denúncias</h5>
                    <p class="card-text text-center">
                      <i class="fa fa-users fa-5x" aria-hidden="true" style="color:#004668 !important;"> </i>
                    </p>
                    <p class="card-text text-center"> 
                     <%= link_to '+Saiba Mais', "/denuncia", class: 'btn btn-light'%>
                    </p>
                  </div>
                </div>
                </div>
              </div>
            </div>  

                </div>
            </div>
        </div>
    </div>

