<!DOCTYPE html>
<html>
  <head>
  <title>PINCRED | Soluções Financeiras</title>
    <%= render 'layouts/page_layout/config_page' %>  
  </head>

  <body>
   <%= render 'layouts/page_layout/page_header'%>
  <%= yield %>
   <%= render 'layouts/page_layout/page_main'%>
   <%= render 'layouts/page_layout/page_footer'%>  
  </body>
</html>