<!DOCTYPE html>
<html>
  <head>
  <title>PINCRED | Soluções Financeiras</title>
    <%= render 'layouts/users_layout/config_users' %>  
  </head>

  <body>
   <%= render 'layouts/users_layout/users_header'%>
  <%= yield %>
   <%= render 'layouts/users_layout/users_main'%>
   <%= render 'layouts/users_layout/users_footer'%>  
  </body>
</html>